<html xmlns:th="http://www.thymeleaf.org">
<nav class="navbar" th:fragment="header">
	<a class="navbar-brand"><i class="fas fa-users fa-2x"></i><span>User
			Management </span></a>
	<ul class="menu navbar-nav bd-navbar-nav flex-row">
		<li class="nav-item" sec:authorize="hasAnyRole('ROLE_USER','ROLE_ADMIN')"><a
			class="btn btn-bd-download d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3"
			th:href="@{/user/tutorials}">Tutorials</a></li>


		<li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')"><a
			class="nav-link"
			th:href="@{/admin/admin}">Admin</a></li>
		

		<li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')"><a
			class="nav-link"
			th:href="@{/admin/userlist}">Users</a></li>


		<li class="nav-item" sec:authorize="hasRole('ROLE_ANONYMOUS')"><a
			class="btn btn-bd-download d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3"
			th:href="@{/login}">Login</a></li>

		<li class="nav-item" sec:authorize="hasRole('ROLE_ANONYMOUS')"><a
			class="btn btn-bd-download d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3"
			th:href="@{/register}">Register</a></li>
		
		<li class="nav-item" style="width:200px" sec:authorize="hasRole('ROLE_USER')"><a
			class="btn btn-bd-download d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3"
			th:href="@{/user/account}">Account Update</a></li>
			
		<li class="nav-item" sec:authorize="hasRole('ROLE_USER')"><a
			class="btn btn-bd-download d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3"
			th:href="@{/logout}">Logout</a></li>
	</ul>
</nav>
</html>