<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>User Management - Access Denied</title>
<meta th:replace="fragments/static :: head"></meta>
</head>
<body>

	<div id="root">
		<div>
			<nav class="navbar" th:replace="fragments/header :: header"></nav>
			<div class="container-fluid">
				<div class="row mt-3">
					<div class="col-md-3"></div>
					<div class="col-md-6">
						<div class="card">
						  <div class="card-body alert alert-warning">
						    <h5 class="card-title">Access denied</h5>
						    <h6 class="card-subtitle mb-2 text-muted">No sufficient permission</h6>
						    <p class="card-text">
						    	You are not allowed to access this page.
						    </p>
						    <a th:href="@{/}" class="btn btn-primary">Go to home page</a>
						  </div>
						</div>
					</div>
					<div class="col-md-3"></div>
				</div>
			</div>
		</div>
	</div>


</body>
</html>